<div class="border border-black p-5 my-2 mx-5">
  <h2 style="text-align: left; border-bottom: 2px solid black; padding-top: 1%"
    *ngIf="parent != 'paiement' && !utilisateur.email">Inscription</h2>
  <h2 style="text-align: left; border-bottom: 2px solid black" *ngIf="parent ==  'paiement'">Informations
    Personnelles</h2>

  <div class="row m-0">
    <div class="col">
      <form>
        <div *ngIf="utilisateur">
          <h5 style="text-align: left; padding-top: 1%; border-bottom: 2px solid silver">Identité</h5>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="civilite">Civilité : </label><br>
            <select class="custom-select" id="civilite" [(ngModel)]="utilisateur.civilite" name="civilite"
              style="width: 75% ;margin-left: 2%">
              <option selected>Choisir...</option>
              <option value="Madame">Madame</option>
              <option value="Mademoiselle">Mademoiselle</option>
              <option value="Monsieur">Monsieur</option>
            </select>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="prenom">Prénom : </label>
            <input type="text" class="form-control" id="prenom" placeholder="Votre prénom"
              [(ngModel)]="utilisateur.prenom" name="prenom" style="width: 75% ;margin-left: 2%">
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="nom">Nom : </label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom" [(ngModel)]="utilisateur.nom"
              name="nom" style="width: 75% ;margin-left: 2%">
          </div>
          <h5 style="text-align: left; padding-top: 1%; border-bottom: 2px solid silver">Informations de connexion</h5>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="email">Email : </label>
            <input type="mail" class="form-control" id="email" placeholder="nom@exemple.com"
              [(ngModel)]="utilisateur.email" name="email" *ngIf="utilisateur.utilisateurId" readonly
              style="width: 75% ;margin-left: 2%">
            <input type="mail" class="form-control" id="email" placeholder="nom@exemple.com"
              [(ngModel)]="utilisateur.email" name="email" *ngIf="!utilisateur.utilisateurId"
              style="width: 75% ;margin-left: 2%">
            <div *ngIf="!utilisateur.email" class="alert alert-info mt-2"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%">Votre email doit être renseigné
            </div>
          </div>
          <div class="form-group" *ngIf="!utilisateur.utilisateurId" style="text-align: left; padding-top: 1%">
            <label for="motDePasse">Mot de passe : </label>
            <input type="password" class="form-control" id="motDePasse" placeholder="Votre mot de passe"
              [(ngModel)]="utilisateur.motDePasse" name="motDePasse" required style="width: 75% ;margin-left: 2%">
          </div>
          <div class="form-group" *ngIf="!utilisateur.utilisateurId" style="text-align: left; padding-top: 1%">
            <label for="confirmationMotDePasse">Confirmation mot de passe : </label>
            <input type="password" class="form-control" id="confirmationMotDePasse" [(ngModel)]="confirmationMotDePasse"
              name="confirmationMotDePasse" (focusout)="checkPassword()" style="width: 75% ;margin-left: 2%">
            <div *ngIf="!isEqual" class="alert alert-danger"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%; margin-top: 1%">Le Mot de
              Passe
              et sa Confirmation doivent êtres semblables</div>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="telephone">Téléphone : </label>
            <input type="text" class="form-control" id="telephone" [(ngModel)]="utilisateur.telephone" name="telephone"
              style="width: 75% ;margin-left: 2%">
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <form>
        <h5 style="text-align: left; padding-top: 1%; border-bottom: 2px solid silver">Adresse de livraison</h5>
        <div class="form-group" style="text-align: left; padding-top: 1%">
          <label for="rue">Rue : </label>
          <input type="text" class="form-control" id="rue" [(ngModel)]="adresse.rue" name="rue"
            style="width: 75% ;margin-left: 2%">
        </div>
        <div class="form-group" style="text-align: left; padding-top: 1%">
          <label for="codePostal">Code Postal : </label>
          <input type="text" class="form-control" id="codePostal" [(ngModel)]="adresse.codePostal" name="codePostal"
            style="width: 75% ;margin-left: 2%">
        </div>
        <div class="form-group" style="text-align: left; padding-top: 1%">
          <label for="ville">Ville : </label>
          <input type="text" class="form-control" id="ville" [(ngModel)]="adresse.ville" name="ville"
            style="width: 75% ;margin-left: 2%">
        </div>
        <div class="form-group" style="text-align: left; padding-top: 1%">
          <label for="pays">Pays : </label>
          <input type="text" class="form-control" id="pays" [(ngModel)]="adresse.pays" name="pays"
            style="width: 75% ;margin-left: 2%">
        </div>
        <div>
          <button type="submit" class="btn btn-success" *ngIf="!utilisateur.utilisateurId"
            [disabled]="!isEqual || !utilisateur.email" (click)="ajoutUtilisateur()" style="margin-bottom: 1%">
            Enregistrer
          </button>
          <button class="btn btn-success" *ngIf="utilisateur.utilisateurId" (click)="updateUtilisateur()"
            style="margin-bottom: 1%">
            Mettre à jour
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
