<div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100"
      [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
   
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)">
  </label>
   <br>
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Télécharger</button> 
<br>