<!-- <div  class="border border-dark" [routerLink]="['/parcours', vente.venteId]"> -->
<div class="card text-right rounded-0">

  <img src="{{ vente.photographie.urlImage }}" class="card-img-top rounded-0" style="cursor: pointer"
    [routerLink]="['/parcours', vente.venteId]">

  <div class="card-body">

    <h5 class="card-title hover" style="cursor: pointer;" [routerLink]="['/artiste', vente.utilisateur.utilisateurId]">
      {{ vente.utilisateur.prenom }} {{ vente.utilisateur.nom }}
    </h5>
    <p class="card-text">
      {{ vente.photographie.titre }}
      <br>
      A partir de {{ vente.photographie.prixPhoto }} €
    </p>

    <span *ngIf="bool" style="color: rgb(85, 80, 80)">
      <u><b>
        Début de la vente: {{ vente.dateDebut }}
        <br>
        Exemplaires vendus: {{ vente.nombreExemplaireVendu }}
        <br>
        Exemplaires mis à la vente: {{ vente.nombreExemplaire }}
      </b></u>
    </span>
  </div>
</div>
