<div class="myflex">
  <h2 class="text-center">Ventes en cours</h2>
  <br>
  <!--<app-liste-photo [pageable]="lstVente" [bool]="'true'" (onPageChange)="getPage($event)"></app-liste-photo>-->
  <table class="table table-striped" *ngIf="lstVente.length > 0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Titre de la photographie</th>
        <th scope="col">Prix de base</th>
        <th scope="col">Début de la vente</th>
        <th scope="col">Nombre d'exemplaires totaux</th>
        <th scope="col">Nombre d'exemplaires vendus</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vente of lstVente">
        <td><img src="{{ vente.photographie.urlImage }}" height="100px" width="100px" style="cursor: pointer"
            [routerLink]="['/parcours', vente.venteId]"></td>
        <td style="vertical-align: middle;"><b>{{ vente.photographie.titre }}</b></td>
        <td style="vertical-align: middle;">{{ vente.photographie.prixPhoto }} €</td>
        <td style="vertical-align: middle;">{{ vente.dateDebut }}</td>
        <td style="vertical-align: middle;">{{ vente.nombreExemplaire }}</td>
        <td style="vertical-align: middle;">{{ vente.nombreExemplaireVendu }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="lstVente.length == 0">
    <h3 class="text-center">Aucune vente en cours</h3>
  </div>
</div>
