<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">{{ titre }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Noir & Blanc</td>
    </tr>
    <tr>
      <td>Paysage</td>
    </tr>
  </tbody>
</table>

