<div class="mt-2" style="text-align: right;" *ngIf="!isConnected">
    <label>Vous avez déjà un compte ?
    <label [routerLink]="['/compte']" style="cursor: pointer;"> <u>Se connecter</u></label></label>
</div>


  <app-saisie-nouvel-utilisateur [parent]="'paiement'" (onUserChange)="getUser($event)"></app-saisie-nouvel-utilisateur>


<div class="border border-black p-5 my-2 mx-5">
    <h2>Informations de paiements</h2>
    <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
        <label for="card-element" style="font-size: 0.8em; color: darkgrey;">
            Carte de crédit
        </label>
        <div id="card-element" class="field"></div>
        <button type="submit" class="btn btn-sm btn-outline-secondary mt-3" [disabled]="hasPayed">
            Valider le paiement
        </button>
    </form>
</div>