<div class="row myflex m-0">
  <div class="col-xs col-md-8 col-lg-8 mx-auto p-3">
    <h2 style="text-align: center">Biographie</h2>
    <form>
      <div class="form-group">
        <h4 for="exampleFormControlTextarea1">Editer ma biographie</h4>
        <textarea name="nom" class="form-control" maxlength="1000" rows="5" [(ngModel)]="u.biographie"></textarea>
      </div>
      <button class="btn btn-success" (click)="updateBio()">Appliquer</button>
    </form>
  </div>
</div>
