<div class="m-5 p-5">
  <h3 class="card-header bg-white">Panier</h3>

  <div *ngIf="commande">
    <div class="card-body bg-light border d-flex flex-row "
      *ngFor="let ligne of commande.ligneCommandes; index as index">
      <div class="d-flex flex-row">
        <img src="{{ligne.vente.photographie.urlImage}}" height="150px" width="100px" >
        <div class="ml-2 flex-grow-1">
          <b>{{ ligne.vente.utilisateur.nom }} {{ ligne.vente.utilisateur.prenom }}</b>
          <br>
          {{ ligne.vente.photographie.titre }} 
        </div>
      </div>
      <div class="ml-5 flex-grow-1">
        <p class="h6" style="line-height: 5px;"><b>Format</b></p>
        <p>
          {{ ligne.format.nomFormat }}
          {{ ligne.format.tailleFormat }}
        </p>
        <p class="h6" style="line-height: 5px;"><b>Finition</b></p>
        <p>
          {{ ligne.finition.nomFinition }}
        </p>
        <p class="h6" style="line-height: 5px;" *ngIf="ligne.cadre"><b>Cadre</b></p>
        <p *ngIf="ligne.cadre">
          {{ ligne.cadre.nomCadre }}
        </p>
      </div>
      <div class="ml-1 align-self-center">
        <b>Quantité</b> <br>
        <input type="number" min="1" max="100" (change)="updatePrice()" [(ngModel)]="ligne.quantite">
        <br>
        <label style="cursor: pointer;" (click)="deleteLine(index)">Supprimer</label>
      </div>
      <div class="m-2 align-self-center">
        <label ><b>{{ ligne.prixUnitaire * ligne.quantite | currency :'':' ':'1.2-2'}} €</b></label>
      </div>
    </div>
  </div>
  <div *ngIf="commande">
    <div class="d-flex flex-row">
      <div class="bg-white d-flex justify-content-start mr-auto">
        <button class="btn btn-outline-dark btn-sm m-2" [routerLink]="['/catalogue']">Continuer mes achats</button>
      </div>
      <div class="bg-white">
        <div class="p-2 bg-light border d-flex flex-row align-items-center" style="min-width: 300px; min-height: 50px;">
          <div class="mr-auto">Total</div>
          <div class="text-right">
            <span ><b>{{ commande.prixTtc | currency :'':' ':'2.2-2'}} €</b></span>
            <br>
            <span style="font-size: .6em;">dont tva {{ txTva*100 }}% : {{ tva | currency :'':' ':'2.0-0'}} €</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
      <button type="button" 
              class="btn btn-danger btn-sm" 
              style="min-width: 300px;"
              (click)="goToPayement()">Valider ma commande</button>
    </div>
  </div>

  <div class="d-flex justify-content-center" *ngIf="!commande">
    <div class="card-body bg-white">
      <h6 class="card-title text-center">Aucune photo dans votre panier</h6>
      <button class="btn btn-success btn-sm btn-block" [routerLink]="['/catalogue']">Parcourir le catalogue</button>
    </div>
  </div>
</div>
