<h1 class="text-center"><span style="color: #E25205">Page de {{ artiste.nom }} {{ artiste.prenom }}</span></h1>
<div class="row">
  <div class="column">
    <div class="col-10 mx-auto">
      <div class="card border-2">
        <div class="card-body">
          <h4>Biographie</h4>
          {{ artiste.biographie }}
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="mx-auto col-10">
      <div class="card border-2">
        <h4>Ses oeuvres</h4>
        <div class="col mx-auto">
          <div class="card border-0 text-center">
              <div class="centerBlock">
            <app-liste-photo [pageable]="lstVente" (onPageChange)="getPage($event)"></app-liste-photo>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="my-5">
  <h4 style="text-align: center; font-family: TeX Gyre Schola ;font-size: 20px; margin-bottom: 0%">
    Vous pouvez le suivre sur
  </h4>
  <div style="text-align: center;">
    <a href="{{ artiste?.urlTwitter }}"><img src="assets/img/icons8-twitter-50.png"></a>
    <a href="{{ artiste?.urlFb }}"><img src="assets/img/icons8-facebook-50.png"></a>
    <a href="{{ artiste?.urlPint }}"><img src="assets/img/icons8-pinterest-48.png"></a>
  </div>
</div>

<div class="card-footer" style="background-color: whitesmoke">
  <div class="d-flex">
    <div class="mr-auto">
      <button class="btn btn-outline-danger m-1" (click)="goBack()">Retour</button>
    </div>
  </div>
</div>
