<h1>Mentions Légales</h1>

<h4>kartina.com</h4>

<p>
  Bartoli Olivier
  <br>
  Petit Pauline
  <br>
  Roy Clément
</p>

<h4>Droit sur l'oeuvre</h4>

<p style="text-align: justify;">
  L'artiste, pour avoir pris l'initiative de sa création, reste titulaire des droits d'auteur sur sa création, au sens
  de la loi française. Les droits de représentation et de reproduction des œuvres présentes sur le site kartina.com
  appartiennent à leurs auteurs et à Kartina. Leur autorisation conjointe est nécessaire pour toute exploitation
  de ces droits. Vos droits sur l'oeuvre achetée sont donc limités à un droit d'usage privé, excluant tout droit de
  représentation et de reproduction.
</p>

<h4>Droit de propriété intelectuelle</h4>

<p style="text-align: justify;">
  Tous les éléments présents sur le site et le site en lui-même sont protégés par le droit d’auteur, droit des marques,
  des dessins et modèles et/ou tout autre droit de la propriété intellectuelle. Par éléments, nous entendons de façon
  non exhaustive : les photographies, images, dessins, illustrations, textes, vidéos, logos, marques, modèles,
  logiciels…Ces éléments appartiennent à la société Kartina ou bien sont utilisés avec l’accord de leurs
  propriétaires.
  A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction,
  commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier,
  numérique…) sont interdites, sans l’autorisation écrite préalable de Kartina, hormis les exceptions visées à
  l’article L 122.5 du Code de Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit
  d’auteur et/ou de dessins et modèles et/ou de marque, puni de deux ans d’emprisonnement et de 152 449,02€ d’amende.
</p>

<h4>Données personelles</h4>

<p style="text-align: justify;">
  Le traitement automatisé d'informations nominatives a été déclaré auprès de la Commission Nationale de l'Informatique
  et des Libertés sous le numéro 1280165.
  En application de la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de
  modification, de rectification et de suppression des données vous concernant.
</p>

<h4>Sécurité des données</h4>

<p style="text-align: justify;">
  Les informations personnelles que vous confiez à Kartina sont stockées sur les serveurs sécurisés de notre
  hébergeur Open Resources (hors données bancaires). L’accès à ces informations est protégé et limité aux opérations
  d’enregistrement et de traitement de vos commandes, opérations de statistiques nous permettant d’améliorer nos
  services et services tels que envois de newsletters, alertes photos, recommandation à un ami ou parrainage.

  Lorsque vous réglez une commande sur kartina.com, vous saisissez vos coordonnées bancaires directement sur le
  serveur sécurisé. Vos données bancaires sont cryptées. Elles
  ne circulent pas en clair sur internet et ne peuvent être interceptées. Kartina n’a pas connaissance de vos
  coordonnées bancaires.
</p>

