<div *ngIf="pageable">
  <div class="card-columns pt-2">
    <div *ngFor="let vente of pageable.content | paginate: { id: 'server', 
                                                             itemsPerPage: pageable.size, 
                                                             currentPage: pageable.number+1, 
                                                             totalItems: pageable.totalElements }">
        <app-detail-photo [vente]="vente" [bool]="bool"></app-detail-photo>
    </div>
  </div>

  <div class="text-center" *ngIf="pageable.size >= 24">
    <pagination-controls [previousLabel]="'Précédent'"
                         [nextLabel]="'Suivant'"
                         [autoHide]="'true'"
                         (pageChange)="getPage($event)" id="server"></pagination-controls>
  </div>
</div>
