<div class="square" [ngStyle]="{'background-image':'url('+vente.photographie.urlImage+')'}">
  <div class="middle">
    <blockquote class="blockquote text-center">
      <h2 class="card-title">{{ titre }}</h2>
      <h4 class="card-text">{{ vente.photographie.titre }}</h4>
    </blockquote>
    <div class="text" [routerLink]=[lien]>{{ descLien }}</div>
  </div>
</div>


<!-- <div class="card text-white rounded-0">
  <img class="card-img rounded-0" src="{{vente.photographie.urlImage}}" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">{{ titre }}</h5>
    <p class="card-text">{{ vente.photographie.titre }}</p>
    <p class="card-text" [routerLink]=[lien]>{{ descLien }}</p>
  </div>
</div> -->