.square {
  opacity: 1;
  float: left;
  position: relative;
  width: 50%;
  padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
  margin: 0;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.middle {
  transition: .5s ease;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.square:hover .middle {
  opacity: 1;
}

.text {
  background-color: #394A48;
  color: white;
  font-size: 1.3em;
  padding: 16px 32px;
  cursor: pointer;
}
