<!-- <div [ngStyle]="{'background': 'url(assets/img/mount.jpg) no-repeat center/cover'}"> -->
<div class="gradient">
  <nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" class="d-inline-block align-center" alt="...">
      <span style="color: lavender"><b>Vivez vos photographies</b></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline mx-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-item nav-link" [routerLink]="['/compte']" *ngIf='!estConnecte'><img
              src="assets/img/icons8-male-user-50.png" width="20" height="20" class="d-inline-block align-center"
              alt="...">
            <span style="color: lavender"><b>Mon compte</b></span>
          </a>
          <a class="nav-item nav-link" [routerLink]="['/moncompte']" *ngIf='estConnecte'><img
              src="assets/img/icons8-male-user-50.png" width="20" height="20" class="d-inline-block align-center"
              alt="...">
            <span style="color: lavender"><b>{{ prenom }}</b></span>
          </a>
        </li>
        <li class="nav-item form-inline my-2 my-lg-0">
          <a class="nav-item nav-link" [routerLink]="['/panier']">
            <img src="assets/img/icons8-shopping-cart-50.png" width="15" height="15" class="d-inline-block align-center"
              alt="...">
            <span style="color: lavender">
              <b>Panier</b>
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active" [routerLink]="['/aide']"><span
              style="color: lavender"><b>Aide</b></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link active" href="#">
            <img src="assets/img/icons8-france-50.png" width="15" height="15" class="d-inline-block align-center"
              alt="...">
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/catalogue']"><b>Photographies</b></a>
      <a class="nav-item nav-link active" [routerLink]="['/catalogue']"><b>Nouveautés</b></a>
      <a class="nav-item nav-link active" [routerLink]="['/artiste']"><b>Nos Artistes</b></a>
      <a class="nav-item nav-link active" [routerLink]="['/catalogue']"><b>Derniers exemplaires</b></a>
    </div>
  </nav>
</div>
