<div class="container" style="margin-top: 0.5%; background-color: whitesmoke">
  <div class="row">
    <div class="col">
      <div *ngIf="vente">
        <ngb-carousel data-interval="false">
          <ng-template ngbSlide>
            <img src="{{vente.photographie.urlImage}}" class="d-block w-100" alt="Random first slide"
              style="max-height:auto; margin:0 auto;">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/img/formats.png" class="d-block w-100" alt="Random second slide"
              style="max-height:auto; margin:0 auto; background-color: #F6FBFF">
            <div class="carousel-caption">
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="{{vente.photographie.urlImage}}" class="d-block w-100" alt="Random third slide"
              style="max-height:auto; margin:0 auto; border-radius: 5%; border: 5px solid black">
            <div class="carousel-caption">
            </div>
          </ng-template>
        </ngb-carousel>
      </div>

      <div *ngIf="vente">
        <h5>{{vente.utilisateur.prenom}} {{vente.utilisateur.nom}}</h5>
        <h6>{{vente.photographie.titre}}</h6>
        <p>{{vente.utilisateur.biographie}}</p>
      </div>
    </div>






    <!--<button mat-raised-button (click)="isOptional = !isOptional">
    {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
  </button>-->
    <div *ngIf="vente">
      <mat-horizontal-stepper labelPosition="bottom" linear>
        <ng-template matStepperIcon="done"><img src="assets/img/selected2.png" width="25" height="25"></ng-template>
        <ng-template matStepperIcon="edit"><img src="assets/img/arrowdown.gif" width="25" height="25"></ng-template>
        <ng-template matStepperIcon="current">
          <mat-icon><img src="assets/img/selected1.png" width="25" height="25"></mat-icon>
        </ng-template>

        <mat-step label="Step 1" [completed]="completed" state="current" [stepControl]="formGroup1">
          <ng-template matStepLabel>
            <div class="card" style="width: 10rem;">
              <div class="card-body">
                <img src="assets/img/taille.png" width="100" height="100" style="background-color: black">
                <h3 class="card-title">Format</h3>
              </div>
            </div>
          </ng-template>
          <ul *ngFor="let format of formats; let i=index"><button type="button" [ngClass]="btnClass[i]"
              (click)="selectionnerFormat(i)">{{format.nomFormat}}<br>{{(vente.photographie.prixPhoto*format.majoration).toFixed(2)}}€</button>
          </ul>
          <div [ngStyle]="{'text-align': 'right'}">
            <button mat-button matStepperNext class="btn btn-outline-secondary">Etape suivante</button>
          </div>
        </mat-step>
        <mat-step label="Step 2" [completed]="completed2" [optional]="isOptional" state="current">
          <ng-template matStepLabel>
            <div class="card" style="width: 10rem;">
              <div class="card-body">
                <img src="assets/img/finition.jpg" width="100" height="100">
                <h3 class="card-title">Finition</h3>
              </div>
            </div>
          </ng-template>
          <ul *ngFor="let finition of finitions; let j=index"><button type="button" [ngClass]="btnClass2[j]"
              (click)="selectionnerFinition(j)">{{finition.nomFinition}}<br>{{(prixFormat*finition.majoration).toFixed(2)}}€</button>
          </ul>
          <div>
            <button mat-button matStepperPrevious class="btn btn-outline-secondary" style="float: left">Etape
              précédente</button>
            <button mat-button matStepperNext class="btn btn-outline-secondary" *ngIf="finitionSelect.finitionId!=5"
              style="float: right">Etape suivante</button>
          </div>
        </mat-step>
        <mat-step label="Step 3" [completed]="completed3" [optional]="isOptional" state="current">
          <ng-template matStepLabel>
            <div class="card" style="width: 10rem;">
              <div class="card-body">
                <img *ngIf="finitionSelect.finitionId!=5" src="assets/img/cadre.jpg" width="100" height="100">
                <img *ngIf="finitionSelect.finitionId==5" src="assets/img/cadredesact.jpg" width="100" height="100">
                <h3 class="card-title">Cadre</h3>
              </div>
            </div>
          </ng-template>
          <ul *ngFor="let cadre of cadres; let k=index"><button type="button" [ngClass]="btnClass3[k]"
              (click)="selectionnerCadre(k)">{{cadre.nomCadre}}<br>{{(prixFinition*cadre.majorationCadre).toFixed(2)}}€</button>
          </ul>
          <div>
            <button mat-button matStepperPrevious class="btn btn-outline-secondary">Etape précédente</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
      <div style=" margin-bottom: 3%; margin-left: 4.5%">
        <button class="btn btn-primary btn-block" *ngIf="finitionSelect.finitionId!=5"
          [disabled]="completed==false || completed2==false || completed3==false" (click)="ajoutPanier()">
          Ajouter au panier</button>
        <button class="btn btn-primary btn-block" *ngIf="finitionSelect.finitionId==5" [disabled]="completed==false"
          (click)="ajoutPanier()">
          Ajouter au panier<br></button>
      </div>
      <div *ngIf="afficheRoute" style=" margin-bottom: 3%; margin-left: 4.5%">
        <p style="text-align: center; color: red">Coût Toutes Taxes Comprises {{(prixTotal).toFixed(2)}}€, dont TVA : 20%</p>
        <button class="btn btn-secondary" style="float: left; margin-bottom: 1%" [routerLink]="['/catalogue']">Continuez
          mes
          achats</button>
        <button class="btn btn-danger" [routerLink]="['/panier']" style="float: right; margin-bottom: 1%">Acceder à mon
          panier</button>
      </div>
    </div>
  </div>
</div>
