<div class="container-fluid">

  <div class="card bg-light border-light">
    <h2 class="card-header"><u>Mon compte Login</u></h2>

    <div class="row justify-content-center">
      <div class="card col-md-5 col-lg-3 card m-2">

        <div class="card-body">
          <h5 class="card-title">Déjà client</h5>
          <form>
            <fieldset>
              <div class="form-field">
                <label for="email">Adresse e-mail <span style="color: red">*</span></label>
                <input type="mail" id="email" name="email" class="form-control" [(ngModel)]='utilisateur.email'>
              </div>

              <div class="form-field">
                <label for="password">Mot de passe <span style="color: red">*</span></label>
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]='utilisateur.motDePasse'>
              </div>
            </fieldset>
            <div class="form-buttons">
              <button class="mt-2 btn btn-outline-dark btn-sm btn-block" (click)='connexion();'>Se connecter</button>
            </div>
          </form>
          <span style="color: red"><font size="2">* Champ obligatoire</font></span>
        </div>
      </div>

      <div class="card col-md-5 col-lg-3 card m-2">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Vous n'avez pas de compte kartina</h5>
          <div class="mb-auto">
            <p class="card-text">Vous pouvez commander sans créer de compte. Vous pourrez créer un compte plus tard.</p>
          </div>
          <div class="form-group">
            <button class="btn btn-danger btn-sm btn-block" [routerLink]="['/saisienouvelutilisateur']">Créer un compte</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
