<div class="row m-0">
  <div class="col-lg-3">
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Thèmes </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let theme of listeTheme; index as i">
            <td style="cursor: pointer;" [routerLink]="['/catalogue', theme.theme]">{{ theme.theme }}</td>
          </tr>
        </tbody>
      </table>

      <!-- Filtre orientation -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Orientation </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orientation of lstOrientations, index as index" (click)="checkOrientations(index)">
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input"
                  [checked]="lstCheckOrientations[index]">
                <label class="form-check-label">{{ orientation }}</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Filtre format -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Formats </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let format of lstFormats, index as index" (click)="checkFormats(index)">
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [checked]="lstCheckFormats[index]">
                <label class="form-check-label">{{ format }}</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Filtre prix -->
      <!-- <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Prix </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cheapest">
                <label class="form-check-label" for="cheapest">Moins de 50€</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cheap">
                <label class="form-check-label" for="cheap">De 50€ à 100€</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="middle">
                <label class="form-check-label" for="middle">De 100€ à 200€</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="expensive">
                <label class="form-check-label" for="expensive">De 200€ à 500€</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="absolute">
                <label class="form-check-label" for="absolute">De 500 à 1000€</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table> -->

      <!-- Filtre prix -->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"> Filtres Avancées </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="news">
                <label class="form-check-label" for="news">Nouveautés</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="limited">
                <label class="form-check-label" for="limited">Editions Limitées</label>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="p-3 border-bottom border-dark">
      <h3> {{ pageTitle }} </h3>
      <span>{{ pageDescription }}</span>
    </div>
    <div class="pt-2 border-bottom border-dark d-flex flex-row">
      <p class="mr-auto">Trier par : </p>
      <p>{{ pageable.totalElements }} résultats</p>
    </div>
    <app-liste-photo [pageable]="pageable" (onPageChange)="sellsByCriteria($event)"></app-liste-photo>
  </div>
</div>
