<div class="border border-black p-5 my-2 mx-5">
  <div *ngIf="u">
    <h2 style="text-align: left; border-bottom: 2px solid black">Page d'Aide</h2>
    <div class="row m-0">
      <div class="col">
        <form>
          <h5 style="text-align: left; padding-top: 1%; border-bottom: 2px solid silver">Informations personnelles</h5>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="civilite">Civilité*</label><br>
            <select class="custom-select" id="civilite" [(ngModel)]="u.civilite" name="civilite"
              style="width: 75% ;margin-left: 2%">
              <option selected>Choisir...</option>
              <option value="1">Madame</option>
              <option value="2">Mademoiselle</option>
              <option value="3">Monsieur</option>
            </select>
            <div *ngIf="!u.civilite" class="alert alert-info"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%; margin-top: 1%">Civilité doit
              être renseigné</div>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="prenom">Prénom*</label>
            <input type="text" class="form-control" id="prenom" placeholder="Votre prénom" [(ngModel)]="u.prenom"
              name="prenom" style="width: 75% ;margin-left: 2%">
            <div *ngIf="!u.prenom" class="alert alert-info"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%; margin-top: 1%">Prénom doit être
              renseigné</div>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="nom">Nom*</label>
            <input type="text" class="form-control" id="nom" placeholder="Votre nom" [(ngModel)]="u.nom" name="nom"
              style="width: 75% ;margin-left: 2%">
            <div *ngIf="!u.nom" class="alert alert-info"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%; margin-top: 1%">Nom doit être
              renseigné</div>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="email">Email*</label>
            <input type="mail" class="form-control" id="email" placeholder="nom@exemple.com" [(ngModel)]="u.email"
              name="email" *ngIf="u.utilisateurId" readonly style="width: 75% ;margin-left: 2%">
            <input type="mail" class="form-control" id="email" placeholder="nom@exemple.com" [(ngModel)]="u.email"
              name="email" *ngIf="!u.utilisateurId" style="width: 75% ;margin-left: 2%">
            <div *ngIf="!u.email" class="alert alert-info"
              style="padding-top: 0%; padding-bottom : 0%; width: 75% ;margin-left: 2%; margin-top: 1%">Email doit être
              renseigné</div>
          </div>
          <div class="form-group" style="text-align: left; padding-top: 1%">
            <label for="telephone">Téléphone</label>
            <input type="text" class="form-control" id="telephone" [(ngModel)]="u.telephone" name="telephone"
              style="width: 75% ;margin-left: 2%">
          </div>
          <div>
            <p class="text-danger">Les champs ayant * sont obligatoires</p>
          </div>
        </form>
      </div>
      <div class="col">
        <form>
          <h5 style="text-align: left; padding-top: 1%; border-bottom: 2px solid silver; margin-bottom: 2%">Message à
            transmettre</h5>
          <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Sujet</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button ngbDropdownItem *ngFor="let sujet of sujets" (click)="sujetSelect(sujet)">{{sujet}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="controls">
            <h6 style="margin-top: 1%"><b>Objet : </b>{{suj}}</h6>
            <textarea id="message" rows="10" cols="100" maxlength="1000" minlength="1" ng-model="message" required
              highlight-on- error placeholder="Entrez votre message"></textarea>
          </div>
          <div>
            <p class="text-danger"><img src="assets/img/attention.png" width="25" height="25">Vous avez le droit à 1000
              caractères maximum. Les demandes vides ne seront pas traitées</p>
          </div>
          <div>
            <button class="btn btn-primary" [disabled]="!u.civilite || !u.prenom || !u.nom || !u.email"
              (click)="envoiMessage()" style="margin-bottom: 2%">Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
