<h1 class="text-center"><span style="color: #0C1DAB">Liste des Artistes</span></h1>
<div class="card-columns">
  <div class="card m-2" style="width: 100%;" *ngFor="let lstArtiste of lstArtiste">
    <img class="card-img" src="assets/img/fond-artiste.jpg">
    <div class="card-img-overlay">
      <div class="card-body">
        <h4><a [routerLink]="['/artiste', lstArtiste.utilisateurId]" style="color: black">{{ lstArtiste.nom }}
            {{ lstArtiste.prenom }}</a></h4>
        <h6 class="card-subtitle mb-2 text-muted"><span style="color: black">Biographie</span></h6>
        <p class="card-text">{{ lstArtiste.biographie }}</p>
        <a href="{{ lstArtiste.urlTwitter }}" class="card-link"><img src="assets/img/icons8-twitter-50.png" width="30"
            height="30"></a>
        <a href="{{ lstArtiste.urlFb }}" class="card-link"><img src="assets/img/icons8-facebook-50.png" width="30"
            height="30"></a>
        <a href="{{ lstArtiste.urlPint }}" class="card-link"><img src="assets/img/icons8-pinterest-48.png" width="30"
            height="30"></a>
      </div>
    </div>
  </div>
</div>

<!--<div *ngFor="let lstArtiste of lstArtiste">
  <div class="container">
    <h4><a [routerLink]="['/artiste', lstArtiste.utilisateurId]" style="color: black">{{ lstArtiste.nom }}
        {{ lstArtiste.prenom }}</a></h4>

      <p><b>Biographie</b>
      <br>
      {{ lstArtiste.biographie }}
    </p>-->
<!--<div *ngFor="let lstVente of ventes">
        <img src="{{ lstArtiste.lstVente.photographie.urlImage }}">
      </div>-->
<!--<div class="container" *ngIf="randomUserSell">
          <img src="{{ vente.photographie.urlImage }}" class="image" style="width:100%">
          <div class="middle">
          <blockquote class="blockquote text-center">
              <h2 class="card-title">{{ titre }}</h2>
              <h4 class="card-text">{{ vente.photographie.titre }}</h4>
            </blockquote>
            <div class="text" [routerLink]=[lien]>{{ descLien }}</div>
          </div>
        </div>-->


<div style="margin-left: 1%">
  <button class="btn btn-secondary btn-lg" (click)="apparition()" style="margin-bottom: 1%">Devenir Artiste</button>
  <p *ngIf="display==true">Vous êtes vous même artiste et absent de cette liste? Il suffit d'envoyer un message aux
    administrateurs; C'est par ici! <img src="assets/img/click.png" height="25" width="25" [routerLink]="['/aide']"
      onmouseover="" style="cursor: pointer;"></p>
</div>
<br>
