<div class="myflex d-flex bd-highlight">
  <div class="col-auto" style="background-color: #DEEFFC;">
    <br>
    <h3>Mon compte</h3>
    <br>
    <a [routerLink]="['/saisienouvelutilisateur']" style="color: #343436">Modifier mes données personnelles</a>
    <div *ngIf="role == 'ROLE_SELLER'">
      <br>
      <a [routerLink]="['/editerbiographie']" style="color: #343436">Editer ma biographie</a>
    </div>
    <div *ngIf="role == 'ROLE_ADMIN'">
      <br>
      <a [routerLink]="['/']">Activer un compte vendeur</a>
      <br>
      <a [routerLink]="['/']">Gérer le statut des commandes</a>
    </div>
    <img src="assets/img/logo.png"></div>
  <div class="col">
    <div class="text-align-center bd-highlight">
      <div class="list-inline">
        <br>
        <h2 class="d-inline-block align-center" style="color: #CD1E1E">Mon compte | {{ moncompte.prenom }}
          {{ moncompte.nom }} </h2>
        <br><a href="" (click)="deconnection()">(Se déconnecter)</a>
        <br>
        <br>
      </div>
    </div>
    <div class="donnee">
      <div class="p-2 bd-highlight">
          <br>
        <img src="assets/img/icons8-info-64.png" width="25px" height="25px" class="d-inline-block align-center" hspace="5">
        <h4 class="d-inline-block align-center">Données</h4>
        <a [routerLink]="['/saisienouvelutilisateur']" style="color: #343436">
          <p>Afficher et/ou modifier vos informations personnelles et votre adresse de livraison</p>
        </a>
        <div *ngIf="role == 'ROLE_SELLER'">
          <img src="assets/img/icons8-appareil-photo-instantané-30.png" width="25px" height="25px"
            class="d-inline-block align-center" hspace="5">
          <h4 class="d-inline-block align-center">Artiste</h4>
          <a [routerLink]="['/editerbiographie']" style="color: #343436"><p>Afficher et/ou modifier ma biographie</p></a>
        </div>
        <img src="assets/img/icons8-ordre-d'achat-30.png" width="25px" height="25px"
          class="d-inline-block align-center" hspace="5">
        <h4 class="d-inline-block align-center">Commandes</h4>
        <p>Afficher l'historique de commandes</p>
        <div *ngIf="role == 'ROLE_SELLER'">
          <img src="assets/img/icons8-retirer-l'étiquette-64.png" width="25px" height="25px"
            class="d-inline-block align-center" hspace="5">
          <h4 class="d-inline-block align-center">Nouvelle vente</h4>
          <a [routerLink]="['/saisienouvellevente']" style="color: #343436"><p>Ajouter une oeuvre à la vente</p></a>
          <img src="assets/img/icons8-vente-64.png" width="25px" height="25px"
          class="d-inline-block align-center" hspace="5">
        <h4 class="d-inline-block align-center">Ventes en cours</h4>
          <a [routerLink]="['/venteencours', moncompte.utilisateurId]" style="color: #343436"><p>Voir vos ventes en
            cours</p></a>
            <img src="assets/img/icons8-historique-des-activités-48.png" width="25px" height="25px"
            class="d-inline-block align-center" hspace="5">
          <h4 class="d-inline-block align-center">Historique des ventes</h4>
          <a [routerLink]="['/ventepassee', moncompte.utilisateurId]" style="color: #343436"><p>Afficher l'historique de
            vos ventes</p></a>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>