.myflex {
    display: flex;
    min-height: 100vh;
}

.donnee
{
    text-align: center;
    background-color: whitesmoke;
}

.list-inline
{
    text-align: center;
    border-bottom: 2px solid #CD1E1E;
    background-color: whitesmoke;
}

.col
{
    background-color: whitesmoke;
}

.col-auto img { 
    position: absolute;
    left:0;
    bottom: 0;
}