<div class="m-5 p-2">
  <h2 style="text-align: center"><u>Ajouter une oeuvre à la vente</u></h2>
  <!-- Upload d'image -->
  <form class="border m-2">
    <div class="form-group">
      <div class="upload m-5">
        <h6>Import de la photographie :</h6>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" (change)="selectFile($event)">
          <label class="custom-file-label"
            for="customFile">{{selectedFiles?selectedFiles.item(0).name:'Choisir un fichier'}}</label>
        </div>
        <div *ngIf="currentFileUpload" class="progress m-2">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100"
            [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%
          </div>
        </div>
        <button class="btn btn-success btn-sm mt-1" [disabled]="!selectedFiles" (click)="upload()">
          Télécharger
        </button>
      </div>
    </div>
  </form>

  <!-- Options -->
  <form class="border m-2">
    <div class="m-5">
      <h5 style="text-align: left"><u>Photographies : </u></h5>
      <div class="d-flex flex-row justify-content-around">
        <div class="form-group">
          <label for="titre">Titre de l'oeuvre</label>
          <input type="text" class="form-control" id="prenom" placeholder="Titre" [(ngModel)]="vente.photographie.titre"
            name="titre">
        </div>

        <div class="form-group">
          <h6 for="prix">Prix</h6>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">€</span>
            </div>
            <input type="number" class="form-control" id="prix" max="3500" [(ngModel)]="vente.photographie.prixPhoto"
              name="prix">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
          <div *ngIf="vente.photographie.prixPhoto > 3500" class="alert alert-info">Le prix ne doit pas dépasser 3500 €
          </div>
        </div>

        <div class="form-group">
          <h6 for="nb">Nombre d'exemplaires</h6>
          <div class="input-group mb-3">
            <input type="number" class="form-control" id="exemplaire" min="1" max="1000"
              [(ngModel)]="vente.nombreExemplaire" name="nb">
            <div *ngIf="1 > vente.nombreExemplaire || vente.nombreExemplaire > 1000" class="alert alert-info">Le nombre
              d'exemplaire doit être compris entre 1 et 1000</div>
          </div>
        </div>
      </div>
      <h5 style="text-align: left"><u>Options : </u></h5>
      <div class="d-flex flex-row justify-content-around">
        <div>
          <h6>Format</h6>
          <div class="form-group" id="format" name="format" *ngIf="lstFormat">
            <div class="form-check" id="check" *ngFor="let format of lstFormat; index as i">
              <input class="form-check-input" type="checkbox" value="{{format.formatId}}" name="{{format.nomFormat}}"
                (click)="checkFormat(i)" [disabled]="format.formatId == 1" [checked]="format.formatId == 1">
              <label class="form-check-label">{{format.nomFormat}}</label>
            </div>
          </div>
        </div>
        <div>
          <h6>Thèmes associés</h6>
          <div class="form-group">
            <div class="form-group" id="themes" *ngIf="lstTheme">
              <div class="form-check" id="check" *ngFor="let theme of lstTheme; index as i">
                <input class="form-check-input" type="checkbox" value="{{theme.themeId}}" name="{{theme.theme}}"
                  (click)="checkTheme(i)" required>
                <label class="form-check-label">{{theme.theme}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button class="btn btn-success" (click)="ajoutVente()">Ajouter à la vente</button>
      </div>
    </div>
  </form>
</div>
