<div [ngStyle]="{'background': 'url(assets/img/cgu.jpg) no-repeat scroll center'}">
  <h1 style="text-align: center; color: gold">Conditions générales d'utilisation </h1>
</div>

<h1>ARTICLE 1. CHAMP D'APPLICATION</h1>

<p style="text-align: justify">
  Les conditions générales de vente détaillées ci-dessous (ci-après désignées les " Conditions Générales "), régissent
  les relations contractuelles entre tout utilisateur du site kartina.com (ci-après désigné un "Utilisateur" ou
  "Vous") et l'enseigne commerciale Kartina.
  Ces conditions générales de vente sont les seules applicables et remplacent toutes autres conditions, sauf dérogation
  préalable, expresse et écrite. Kartina peut être ponctuellement amené à modifier certaines des dispositions de
  ses conditions générales, aussi il est nécessaire que celles-ci soient relues avant chaque visite du site
  kartina.com (ci-après désigné le " Site "). Ces modifications sont opposables à compter de leur mise en ligne (la
  date de mise en ligne figurant en fin des présentes conditions) et ne peuvent s'appliquer aux contrats conclus
  antérieurement. Chaque achat sur le Site est régi par les conditions générales applicables à la date de la commande.
  En validant votre commande, vous acceptez sans réserve les Conditions Générales après les avoir lues. En accédant au
  Site, vous vous engagez à respecter les présentes conditions.
  Il est précisé que les présentes conditions régissent les ventes des photographies et cadres de Kartina sur le
  Site. Ces conditions s'appliquent, à l'exclusion de toutes autres conditions, notamment celles en vigueur pour les
  ventes dans les Galeries Kartina (ci-après désignée les " Galeries ") ou dans les commerces distribuant les
  photographies Kartina.
</p>

<h4>ARTICLE 2. UTILISATION DU SITE</h4>

<p style="text-align: justify">
  Pour utiliser le Site, vous devez être âgé d'au moins 18 ans, être capable juridiquement de contracter et utiliser ce
  Site conformément aux présentes Conditions Générales. Vous garantissez la véracité et l'exactitude des informations
  fournies par vous-même sur ce Site.
  Kartina se réserve le droit d'annuler ou de refuser toute commande d'un client avec lequel il existerait un
  litige relatif au paiement d'une commande antérieure.
  Le Site est disponible en langue française.
</p>

<h6>1) Caractéristiques essentielles des produits</h6>

<p style="text-align: justify">
  Les produits vendus sur le Site sont des photographies d'art numérotées en série limitée, des cadres.
  Les photographies sont proposées dans un ou plusieurs formats et supports, selon les accords passés entre le
  photographe ou ses représentants et Kartina. Les photographies sont accompagnées d'une biographie de l'artiste.
  Les prix sont indiqués toutes taxes comprises, hors participation aux frais d'expédition.
  Seuls le règlements en euros sont acceptés.
  En cas de livraison vers un pays autre que la France métropolitaine, vous êtes l'importateur du ou des oeuvres
  concernées. Pour toutes les œuvres expédiées hors Union Européenne et DOM-TOM, des droits de douane ou autres taxes
  locales ou droits d'importation ou taxes d'Etat sont susceptibles d'être exigibles.
  Ces droits et sommes ne relèvent pas du ressort de Kartina. Ils seront à votre charge et relèvent de votre
  entière responsabilité tant en termes de déclarations que de paiements aux autorités et organismes compétents de votre
  pays. Nous vous conseillons de vous renseigner sur ces aspects auprès de vos autorités locales.
  Kartina se réserve le droit de modifier ses prix à tout moment. Les œuvres seront facturées sur la base des
  tarifs en vigueur au moment de l'enregistrement des commandes, sous réserve de disponibilité.
  Les oeuvres demeurent la propriété de Kartina jusqu'au complet paiement du prix indiqué.
</p>

<h6>2) Passer commande</h6>

<p style="text-align: justify">
  Pour passer commande, Vous devez au minimum passer par les étapes suivantes :

  • Consultation de la fiche présentant une photographie. Sur cet écran Vous pouvez choisir le format et le support
  parmi celles proposées pour cette photographie. L'état du stock est indiqué). Vous devez cliquer sur « Ajouter au
  panier » pour ajouter cet
  article à votre panier.<br>

  • Ecran « Panier » : vous avez la possibilité de supprimer un article ou de modifier les quantités commandées.<br>
  • Ecrans d'identification ou de création d'un compte client<br>
  • Ecran récapitulatif et choix de paiement. Cet écran vous permet de choisir votre mode de paiement et vérifier les
  différents éléments constituant votre commande (articles, quantité, mode de livraison, prix total). Vous devez vous
  assurer que tous ces éléments sont conformes à votre demande. Grâce aux liens sur cet écran, Vous avez la possibilité
  de modifier votre commande.<br>

  • Vous devez ensuite accepter les présentes conditions générales de vente et d'utilisation du Site pour passer à
  l'étape de paiement. Les conditions sont disponibles à la lecture et à l'impression à partir du lien intitulé «
  conditions générales de vente ». Leur acceptation se fait en cochant la case apposée au lien vers ces conditions. Les
  conditions générales de vente et d'utilisation du Site doivent être acceptées à chaque commande.<br>
  • Vous réglez votre commande par le moyen de paiement choisi<br>
  • Le contrat est conclu lors de la confirmation du règlement par la banque.<br>
  • Le Site vous envoie une confirmation de votre commande par courrier électronique dans les minutes qui suivent.<br>
</p>

<h6>3) Moyens de paiement</h6>
<p style="text-align: justify">
  Plusieurs modes de paiement Vous sont proposés pour régler votre commande sur le Site :

  • Carte bleue, carte bleue virtuelle, Visa, Mastercard.<br>
  • Paypal<br>
  • Virement bancaire (commandes depuis l'Union Européenne uniquement)<br>
</p>


<h6>4) Sécurité des paiements</h6>

<p style="text-align: justify">
  Les données bancaires de l'Utilisateur sont cryptées (technologie SSL, Secure Socket Layer). Elles ne circulent pas en
  clair sur internet et ne peuvent être interceptées.
  Vos données bancaires (numéro de carte, date expiration….) ne sont pas communiquées à Kartina.
</p>

<h6>5) Preuve</h6>

<p style="text-align: justify">
  Les données enregistrées par le Site constituent la preuve de l'ensemble des transactions passées entre le Site et ses
  clients.
  Les données enregistrées par le système de paiement Cybermut du Crédit Mutuel constituent la preuve des transactions
  financières.
</p>

<h6>6) Livraison</h6>



<h6>Traitement des commandes</h6>


<p style="text-align: justify">
  Les commandes passées avant minuit (heure de Paris, GMT+1h), du dimanche au lundi, hors jours fériés, sont expédiées
  le
  lendemain (pour les photographies indiquées « en stock »). Dans les autres cas, les commandes sont expédiées le soir
  du
  jour ouvré suivant.
  L'ensemble des œuvres commandées est envoyé en une seule commande.

  Les œuvres notées « disponibles sous X jours » seront expédiées sous X jours en moyenne.
  Les œuvres notées « sold-out » ou « épuisées » ne peuvent plus être commandées
</p>


<h6>Adresse de livraison</h6>


<p style="text-align: justify">
  Kartina livre en France métropolitaine et dans 24 pays (Allemagne, Belgique, Chypre, Danemark, Espagne, Estonie,
  Finlande, Grèce, Hongrie, Irlande, Italie, Lettonie, Lituanie, Luxembourg, Malte, Pays-Bas, Pologne, Portugal,
  République tchèque, Royaume-Uni, Slovaquie, Slovénie, Suède). Livraison dans un autre pays : sur demande

  La livraison sera effectuée à l'adresse de livraison que vous aurez validée au moment de la commande comme étant «
  l'adresse de livraison », cette adresse pouvant être différente de « l'adresse de facturation ».

  Le changement d'adresse de livraison après le passage de la commande n'est souvent pas possible pour des raisons
  logistiques. Vous pouvez toutefois nous contacter, si vous souhaitez changer d'adresse de livraison, nous étudierons
  les
  possibilités en fonction de votre commande.
</p>


<h6>Modes de livraison et délais</h6>


<p style="text-align: justify">
  Les modes de livraison possibles dépendent de la quantité, de la taille de la ou des article(s) commandé(s) et du pays
  de livraison. Si votre commande comporte des articles de tailles différentes, c'est la taille de l'article le plus
  grand
  qui est prise en compte. Kartina se réserve le droit du choix du transporteur.

  La date de livraison dépend de l'état du stock, de la date d'expédition de la commande et du délai de livraison induit
  par le mode de livraison.

  Les délais de livraisons estimés sont de deux (2) à six (6) jours ouvrés (à l'exclusion des samedis, dimanches et
  jours
  fériés) à compter de l'envoi du Courriel de Livraison.
  Pour les produits qui ne sont pas indiqués « en stock », à compter de la réception de la commande, de son paiement et
  de
  la confection du produit jusqu’à la livraison se fera sous 13 (13) jours ouvrés (à l'exclusion des samedis, dimanches
  et
  jours fériés). Le délai peut être légèrement plus long lorsque les produits doivent être livrés dans des zones d'accès
  difficile. Nous ferons nos meilleurs efforts pour livrer les produits commandés dans le délai indiqué dans le Courriel
  de Livraison. Pour les Livraisons en point de livraison, un courriel ou un SMS vous sera envoyé dès l'arrivée de votre
  colis dans le point de livraison de votre choix. A compter du jour de livraison, vous pourrez retirer le colis sur
  présentation d'une pièce d'identité.
  Même si nous faisons tout notre possible pour livrer vos produits dans le respect des délais définis ci-dessus, les
  dates de livraison ne sont que des estimations, elles ne sont pas garanties, et elles ne sauraient être invoquées à
  notre encontre. Toutefois, le délai maximum de trente (30) jours à compter de la date de réception du Courriel de
  Livraison est garanti.
</p>


<h6>Frais de ports</h6>


<p style="text-align: justify">
  Dans un esprit de démocratisation de la photographie d'art, Kartina a souhaité participer aux frais d'envoi des
  œuvres. Les frais de port varient suivant le pays et le mode de livraison ainsi que le nombre et le format des œuvres
  commandées. Le détail des frais de port est disponible en suivant ce lien.
</p>


<h6>Taxes et frais de douanes hors Union Européenne</h6>


<p style="text-align: justify">
  Les articles expédiés en dehors de l’Union Européenne peuvent être soumis à des taxes, droits de douanes et autres
  impôts dans le pays de destination, ci-après nommés « Frais d’importation ». Le destinataire de la commande accepte en
  passant commande d’être désigné importateur officiel dans le pays de réception de la commande et est responsable des
  frais d’importation. Pour chacun des articles importés, vous autorisez Kartina à désigner un transporteur à agir en
  tant qu’intermédiaire avec les autorités compétentes pour la gestion et le règlement des frais d’importation dans le
  pays de destination. Vous acceptez également en passant commande que le transporteur puisse partager avec Kartina
  le montant de ces frais d’importation. Dans le cas d’une commande passée dans le cadre d’un cadeau ou en tant
  qu’intermédiaire pour une autre personne, vous acceptez de donner les autorisations ci-dessus au nom du destinataire
  désigné dans votre commande. Pour obtenir les détails sur les frais d'importation réels, ou pour obtenir les documents
  ou les reçus en lien avec le dédouanement, vous pourrez communiquer avec le transporteur désigné indiqué dans la
  confirmation de votre envoi.
</p>


<h6>Réception de la livraison</h6>
<p style="text-align: justify">
  Lors de la réception de votre commande, il vous appartient d'ouvrir le colis pour l'état des photographies ou cadres.
  Si
  vous ne réceptionnez pas personnellement le colis, demandez à la personne en charge de réceptionner le colis de faire
  cette vérification.
  En cas de problème, merci de remettre votre colis au livreur (La Poste ou transporteur privé) en stipulant le problème
  rencontré et de prendre contact avec notre service client le jour même.
  Ne signez pas le bon de livraison si la commande est arrivée endommagée. Aucune réclamation ne sera recevable si le
  bon
  de livraison est signé.
  Dans le cas d'une livraison par transporteur privé, le transporteur n'est pas tenu de livrer à l'intérieur de votre
  domicile et peut vous remettre le colis à l'entrée de votre immeuble ou maison.
  Nous vous conseillons donc de prévoir de l'aide pour porter le colis dans votre domicile.
</p>

<p style="text-align: justify">
  La réception des objets transportés éteint toute action contre le transporteur pour avarie ou perte partielle si dans
  les trois jours, non compris les jours fériés, qui suivent celui de cette réception, le destinataire n'a pas notifié
  au
  transporteur, par acte extrajudiciaire ou par lettre recommandé, sa protestation motivée. (art L 133.3 du code du
  Commerce).
</p>

<h6>7) Droit de rétractation</h6>

<p style="text-align: justify">
  Conformément à l'article L221-18 du code de la consommation, Vous disposez d'un droit de rétractation pour retourner
  l'oeuvre qui ne vous conviendrait pas. Ce droit ne s'applique pas aux commandes de chèques cadeaux ni commandes
  passées
  par des entreprises. Vous pouvez utiliser le modèle de formulaire de rétractation mais ce n’est pas obligatoire.
</p>

<h6>Modèle de formulaire de rétractation</h6>
<p style="text-align: justify">
  À l’attention de KF S.A., 8 rue des Francs-Bourgeois, 75 003 Paris , Tel : +33 1 49 96 50 22, E-Mail :
  contact@Kartina.com
</p>
<p style="text-align: justify">
  Je/Nous (1) vous notifie/notifions (1) par la présente ma/notre (1) rétractation du contrat portant sur la vente du
  bien
  (1)/pour la prestation de service (1) ci-dessous
</p>
<p style="text-align: justify">
  Commandé le (1)/reçu le (1)
</p>
<p style="text-align: justify">
  Nom du (des) consommateur(s)
</p>
<p style="text-align: justify">
  Adresse du (des) consommateur(s)
</p>
<p style="text-align: justify">
  Date
</p>
<p style="text-align: justify">
  (1) Biffez la mention inutile.
</p>
<p style="text-align: justify">
  Pour toute commande sur le Site, vous disposez d'un délai de 15 jours calendaires pour nous signaler votre demande de
  retour.

  Pour cela, veuillez prendre contact avec notre service client qui vous indiquera l'adresse de retour et vous
  disposerez
  alors d'un délai de 14 jours pour nous retourner votre commande.

  • Si votre commande a été livrée par la Poste (Colieco, Colissimo, Chronopost), vous pourrez nous retourner votre
  commande par la Poste (frais de retour à votre charge) ou l'apporter dans certaines de nos Galeries.<br>
  • Si votre commande a été livrée par un transporteur, celui-ci passera prendre votre commande. Ce service vous sera
  facturé au même prix que les frais de livraison initiaux.<br>
  • Si vous avez choisi de retirer votre commande dans un de nos Galerie, vous pourrez la rendre dans la Galerie, nous
  la
  renvoyer par la Poste ou par transporteur, à vos frais.<br>

  Aucun envoi en contre remboursement ne sera accepté, quelle qu'en soit la raison.

  Les articles retournés sans leur emballage d'origine ou incomplets, abîmés, endommagés ou salis par le client ne sont
  pas repris. Les frais de retour sont à votre charge.

  Kartina vous remboursera le prix des articles retournés ainsi que les frais d'envoi initiaux (les frais de retour
  restent à votre charge) dans un délai de 14 jours suivant la réception des articles ou suivant la réception d'une
  preuve
  de l'expédition des articles. Ce remboursement sera effectué par crédit sur le compte bancaire ayant servi au
  règlement,
  par virement bancaire ou chèque cadeau, selon le mode de paiement utilisé lors de la commande.
</p>


<h6>8) Droit de retour</h6>


<p style="text-align: justify">
  Dans le cas où les œuvres reçues ne seraient pas conformes à la commande, vous disposez d'un droit de retour. Dans ce
  cas, veuillez prendre contact avec notre service client qui vous indiquera l'adresse et les modalités de retour. Pour
  imprimer le bon de retour, cliquez ici.

  Kartina effectuera l'échange de l'article endommagé, dans la limite des stocks disponibles. Au cas où un article
  ne serait plus disponible, Kartina vous proposera de choisir un autre article d'un montant équivalent.

  Dans le cas de l'exercice du droit de retour et uniquement dans ce cas, les frais de retour et de nouvel envoi sont à
  la
  charge de Kartina.
</p>

<h6>9) Service clientèle et réclamations</h6>

<p style="text-align: justify">
  Pour toute information ou question, vous pouvez contacter notre service clientèle par email ou par téléphone (depuis
  la
  France) au 0820 620 105 (prix d'un appel local depuis un poste fixe).

  Nous serons très heureux de vous donner toutes les informations que vous souhaitez sur nos œuvres et votre commande.
</p>
<p style="text-align: justify">
  ARTICLE 3. FORCE MAJEURE
  En application de l'article 1148 du Code Civil, Kartina ne pourra être responsable ou considéré comme ayant commis
  une faute dans le traitement de votre dossier, si tout retard ou toute inexécution résulte d'un cas de force majeure.
</p>
<p style="text-align: justify">
  ARTICLE 4. PROTECTION DES DONNÉES À CARACTÈRE PERSONNEL
  En application de la loi n°78-17 du 6 janvier 1978 modifiée relative à l'informatique, aux fichiers et aux libertés,
  du
  règlement européen sur la protection 2016/679 relatif à la protection des personnes physiques à l’égard du traitement
  des données à caractère personnel et à la libre circulation de ces données, Kartina.com informe l'Utilisateur de
  son engagement à respecter la confidentialité, l'intégrité et la sécurité des données que l'utilisateur sera amené à
  lui
  communiquer par le biais du Site.
</p>
<p style="text-align: justify">
  Toute donnée à caractère personnel vous identifiant directement (notamment vos nom, prénom, coordonnées postales,
  électroniques, téléphoniques) ou indirectement (notamment vos traces informatiques laissées par votre navigation sur
  le
  Site) sont considérées comme des données confidentielles et sont traitées comme telles, sous réserve de l'évolution du
  cadre légal sur la qualification de donnée à caractère personnel.
</p>


<h6>4.1. Traitement de données relatives aux Services</h6>



<h6>4.1.1 Traitement</h6>

<p style="text-align: justify">
  La souscription, l'accès et/ou l'utilisation de certains Services impliquent la réalisation d'un traitement de données
  à
  caractère personnel, ce que vous acceptez. Le responsable du traitement des données à caractère personnel des
  utilisateurs est visé à l’article 1.1. des présentes conditions générales d’utilisation.

  Kartina, responsable de traitement dont le siège est situé au 8 rue des Francs Bourgeois 75003 Paris, est conscient
  de la confiance que vous lui accordez en lui confiant vos informations personnelles pour l’utilisation de ses
  services.
  Kartina y attache la plus grande importance quant à la confidentialité et la sécurité de celles-ci.

  À ce titre, Kartina s’engage à respecter la présente politique de confidentialité que vous acceptez dès lors que
  vous utilisez ses services.
</p>


<h6>4.1.2 Déclaration du traitement des informations nominatives</h6>

<p style="text-align: justify">
  Le traitement automatisé d'informations nominatives a été déclaré auprès de la Commission Nationale de l'Informatique
  et
  des Libertés sous le numéro 1280165.

  En fonction de vos choix lors de la création ou de la modification de votre compte, vous serez susceptibles de
  recevoir
  des offres de notre société et de nos partenaires. Si vous ne le souhaitez plus, vous pouvez modifier ces choix dans
  votre Compte Client sur le Site ou en nous écrivant à l'adresse ci-dessous.

  En application de la loi Informatique et Libertés du 6 janvier 1978, Vous disposez d'un droit d'accès, de
  modification,
  de rectification et de suppression des données vous concernant. Vous pouvez exercer ce droit en nous envoyant un
  courrier à l'adresse suivante : KF, Service Client, 84 rue Beaubourg, 75 003 Paris – France.

  Vous pouvez également consulter ou modifier vos données personnelles dans votre compte client sur Kartina.com.
</p>


<h6>4.1.3 Nature et finalité des données à caractère personnel</h6>

<p style="text-align: justify">
  En utilisant notre portail ou nos services, l’Utilisateur est amené à communiquer à Kartina des informations ou des
  données, dont certaines sont de nature à l’identifier directement ou indirectement.

  Les données collectées proviennent de la fourniture volontaire de leurs informations par les utilisateurs désireux
  d'accéder ou d'utiliser un Service nécessitant un tel traitement, des traces informatiques laissées par la navigation
  sur le Site ou de la transmission par l'un des partenaires à l'autre partenaire des données ainsi collectées.

  Ces données pourront être utilisées pour les besoins de la gestion des opérations effectuées sur le Site et des
  actions
  commerciales de Kartina.com.



  Ces données sont également utilisées :<br>

  - Pour la création et la gestion des comptes d’utilisateurs ;<br>

  - Pour la fourniture des services de Kartina ;<br>

  - Pour le suivi de la relation avec les utilisateurs ;<br>

  - Pour transmettre les demandes de renseignements émises par l’Utilisateur aux transporteurs ;<br>

  Les données à caractère personnel de l’Utilisateur collectées par Kartina peuvent être :<br>

  - ses prénoms et nom<br>

  - son adresse de messagerie<br>

  - son numéro de téléphone<br>

  - son adresse postale<br>

  - son adresse Internet Protocol (IP)<br>

  - Son identifiant et son mot de passe<br>

  - Une copie des échanges entre Kartina et l’utilisateur<br>

  - Des informations relatives à sa navigation et son activité.<br>

  - Ses informations relatives à sa géolocalisation<br>
</p>


<h6>Outils de suivi et applications</h6>
<p style="text-align: justify">
  Kartina a recours aux outils suivants :

  - Facebook Analytics : (Facebook Ireland Limited, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2, Ireland) outil
  d’analyse du trafic et des actions effectuées sur le Site ;<br>

  - Google Analytics : (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) suivi et analyse quantitative et
  qualitative du trafic ;<br>

  - Smart Focus (34/36, Avenue de Friedland - 75008 Paris – France) outil d’envoi des newsletters<br>

  - Zendesk (Zendesk, Inc., 1019 Market St, San Francisco, CA 94103, USA) outil de gestion des contacts clients<br>

  - Ingenico Ogone (Ingenico Group S.A., 28/32 boulevard de Grenelle, 75015 Paris, France) : outil de gestion des
  paiements bancaires<br>

  - Paypal (PayPal (Europe) S.à r.l. et Cie, S.C.A. (R.C.S. Luxembourg B 118 349), L-2449 Luxembourg) : outil de gestion
  des paiements Paypal<br>

  Vous acceptez que celles-ci soient exploitées et/ou communiquées selon les modalités précisées ci-avant.<br>

  Si vous nous contactez par téléphone, les conversations sont susceptibles d’être écoutées et enregistrées à des fins
  de
  sécurité et de formation. Ces enregistrements sont conservés durant une période de six mois.<br>
</p>


<h6>Publicité ciblée, e-mails et SMS</h6>
<p style="text-align: justify">
  Avec votre consentement lorsqu’il est requis, Kartina peut utiliser les données que vous lui fournissez à des fins
  de prospection commerciale (par exemple pour vous adresser nos newsletters, vous envoyer des invitations à nos
  événements ou toute autre communication susceptible de vous intéresser et afficher des publicités ciblées sur les
  réseaux sociaux ou sites tiers).

  En ce qui concerne les emails promotionnels ou d’actualité: vous pouvez à tout moment retirer votre consentement en
  cliquant sur le lien de désinscription fourni dans chacun de nos envois ou en nous contactant selon les modalités
  décrites à l’article 4.3 ci-dessous.

  En ce qui concerne la publicité ciblée : sur les réseaux sociaux (par exemple Facebook, LinkedIn): vous pouvez vous
  opposer à tout moment à ce traitement en configurant les paramètres relatifs à la publicité de votre compte ;

  Sur des sites tiers: vous pouvez vous reporter à l’article 4.4 ci-dessous pour comprendre comment retirer votre
  consentement.
</p>


<h6>4.1.4 Fondement légal du traitement</h6>
<p style="text-align: justify">
  En application de l’article 6.1 du Règlement Général sur la Protection des Données et des CGU qu’il a accepté,
  l’utilisateur est informé que les différents traitements de ses données sont nécessaires à l’exécution et à la
  réalisation obligations contractuelles découlant des services proposés par la société.
</p>


<h6>4.1.5 Durée de conservation des données</h6>
<p style="text-align: justify">
  Les données à caractère personnel sont effacées ou archivées à l’issue d’une durée de cinq ans après votre dernière
  utilisation de notre portail ou de nos services.

  Ces données pourront également être conservées pour une durée de 10 ans par la suite dans la base archive, sous accès
  restreint, afin de respecter les obligations légales et réglementaires à la charge de Kartina.
</p>


<h6>4.1.6 Destinataires des données</h6>

<p style="text-align: justify">
  Kartina est également susceptible de partager des informations vous concernant, notamment des données à caractère
  personnel, avec les transporteurs partenaires de Kartina dans le cadre prévu par la présente politique.

  Kartina ne partage vos données avec les tiers mentionnés au présent article que dans les cas suivants :<br>

  - Lorsque nous faisons appel à un prestataire de services dans le cadre de l’exécution de tout contrat conclu entre
  vous
  et nous ou afin de fournir ou améliorer nos services ;<br>

  - Lorsque Kartina a l’obligation légale de le faire ou si Kartina pense de bonne foi que cela est nécessaire
  pour répondre à toute réclamation à son encontre, se conformer à toute demande judiciaire, ou afin de garantir les
  droits, les biens et la sécurité de Kartina, ses membres et plus généralement tout tiers.<br>

  Dans l’hypothèse où Kartina vendrait ou acquerrait une entreprise ou des actifs, auquel cas elle se réserve la
  possibilité de partager vos données à caractère personnel avec le potentiel vendeur ou acheteur de cette entreprise ou
  de ces actifs.<br>

  Conformément à la législation applicable et avec votre consentement lorsqu’il est requis, Kartina peut agréger des
  données qui vous concernent et que Kartina reçoit, notamment tout ou partie de vos données à caractère personnel et
  les informations collectées par l’intermédiaire de cookies. Ces informations agrégées ne seront utilisées que pour les
  finalités décrites ci-dessus.<br>
</p>


<h6>4.2 Transfert de données</h6>


<p style="text-align: justify">
  En règle générale, Kartina conserve les données à caractère personnel au sein de l’Union Européenne.

  Néanmoins, dans la mesure où, par exemple, certains de nos prestataires de service sont situés dans des pays en dehors
  de l’Union Européenne (« Pays Tiers »), Kartina transfère certaines des données à caractère personnel dans des Pays
  Tiers. Cela peut notamment être le cas vers des Pays Tiers pour lesquels la Commission européenne n’a pas pris une
  décision de « protection adéquate ». Dans un tel cas, Kartina s’assure que ce transfert soit effectué en conformité
  avec la réglementation applicable et garantisse un niveau de protection suffisant pour la vie privée et les droits
  fondamentaux des personnes concernées (notamment par les clauses contractuelles types de la Commission Européenne).
</p>


<h6>4.3 Droit de l’utilisateur</h6>


<p style="text-align: justify">
  Vous bénéficiez :<br>

  - d’un droit d’accès : droit de recevoir une copie de vos données à caractère personnel en notre possession ;<br>

  - d’un droit à l’effacement ou droit à l’oubli : droit à l’effacement de vos données à caractère personnel en
  possession
  de Kartina (sauf lorsque la loi lui impose de conserver ces données ou lorsque Kartina a un motif légitime de
  le faire)<br>

  - d’un droit à la rectification : droit de modifier les données à caractère personnel en la possession de Kartina
  qui vous concernent qui sont erronées ou obsolètes<br>

  - d’un droit d’opposition : vous pouvez opposer à tout moment pour des raisons tenant à votre situation particulière,
  au
  traitement de vos données à caractère personnel à des fins de marketing direct sauf motifs légitimes et impérieux pour
  le traitement qui prévalent sur les intérêts et les droits et libertés de la personne concernée, ou pour la
  constatation, l'exercice ou la défense de droits en justice ;<br>

  - d’un droit à la limitation : vous avez le droit de limiter les traitements effectués sur vos données à caractère
  personnel dans les cas suivants :<br>

  si vous exercez votre droit de rectification, la limitation de traitement peut être exigé pendant la durée permettant
  à
  Kartina d’en vérifier l’exactitude ;<br>

  si vous exercez votre droit d’opposition, pendant la durée de vérification portant sur le point de savoir si les
  motifs
  légitimes que Kartina poursuit prévalent les vôtres ;<br>

  lors d’un traitement illicite de vos données à caractère personnel, vous pouvez exiger une limitation de leur
  utilisation plutôt qu’un effacement ;<br>

  pour des données à caractère personnel aux fins du traitement devant être effacées, mais qui sont encore nécessaires
  pour la constatation, l’exercice ou la défense de droits en justice.<br>

  - d’un droit à la portabilité : vous avez le droit de recevoir les données à caractère personnel que vous avez
  fournies
  à Kartina ou qui ont été générées par votre activité ou qui ont été observées. Celles-ci doivent être communiquées
  dans un format structuré, couramment utilisé et lisible par la machine. Ce droit comprend également le droit de
  transmettre ces données à un autre responsable du traitement.<br>

  Enfin, vous disposez du droit de définir des directives relatives au sort de vos données à caractère personnel après
  votre mort.<br>

  L’utilisateur peut exercer ces droits en contactant Kartina à cette adresse : contact@Kartina.com en joignant
  un justificatif d’identité et en mentionnant ses prénoms, nom et adresse de courrier électronique.<br>

  En cas de différend entre Kartina et l’Utilisateur concernant le traitement des données, l’utilisateur pourra
  adresser sa réclamation à Kartina.<br>

  Si aucune solution satisfaisante pour l’utilisateur n’est trouvée par la société ou si le différend persiste,
  l’utilisateur aura la possibilité d’introduire une réclamation auprès de la Commission Nationale de l’Informatique et
  des Libertés ou de l’autorité de contrôle de l’Etat Membre de l’Union Européenne au sein duquel l’utilisateur réside
  habituellement.
</p>


<h6>Contact</h6>

<p style="text-align: justify">
  Pour toute question relative à la présente politique de confidentialité ou pour toute demande relative à vos données à
  caractère personnel, vous pouvez nous contacter en nous adressant un courrier à l’adresse suivante : Kartina,
  Délégué à la protection des données, 84 Rue Beaubourg 75003 Paris.
</p>


<h6>4.4 Traitements de données techniques - Cookies</h6>


<p style="text-align: justify">
  Kartina procède en outre à l'enregistrement automatique de certaines données techniques.

  Lors de la consultation du Site, les données techniques susceptibles d'être enregistrées, au titre de l'accès ou de
  l'utilisation du Site sont l'adresse Internet Protocol (IP) de l'utilisateur et les informations relatives à la
  configuration (type de machine, de navigateur, etc.) et à la navigation (date, heure, pages consultées, survenance
  d'erreurs, etc.) de l'utilisateur.

  Ces dernières informations peuvent être stockées, par l’intermédiaire de votre logiciel de navigation, dans de courts
  fichiers textuels (cookies), sous réserve de vos choix, dans un espace dédié du disque Kartina.com et/ou ses
  partenaires traitent ces données techniques de façon totalement anonyme, ne les rattachant à aucune information
  permettant d'identifier l'utilisateur et, ne les transmettent pas à des tiers.

  A chaque cookie est attribué un identifiant anonyme. Le fichier cookie permet à son émetteur d'identifier le terminal
  dans lequel il est enregistré pendant la durée de validité ou d'enregistrement du cookie concerné.



  Les cookies, en fonction de leur catégorie, sont utilisés pour les finalités suivantes :

  Une première catégorie de cookies sont ceux qui strictement nécessaires à l’utilisation du Site. Ils sont
  indispensables
  pour naviguer sur le Site en profitant de toutes ses fonctionnalités (prise en charge du système d’exploitation de
  l’internaute, affichage...). Ils permettent d’adapter certaines fonctionnalités et la présentation du Site à votre
  navigateur et à votre matériel. Ce sont des cookies essentiellement techniques qui ne vous identifient pas comme un
  individu.

  Une autre catégorie de cookies concerne ceux qui permettent de mesurer la performance. Ces cookies permettent
  d'établir
  des statistiques et volumes de fréquentation et d'utilisation des divers services du Site. Ils ont pour objet de
  permettre à Kartina.com d’améliorer le confort des utilisateurs. Ces cookies ne vous identifient pas comme un
  individu.

  Ces deux premières catégories de cookies ne sont utilisées qu'à des fins d'établissement de statistiques
  d'utilisation,
  de prévention des erreurs, de prévention des atteintes et de la contrefaçon du site ou d'amélioration des conditions
  d'accès ou d'utilisation du Site.

  Une troisième catégorie de cookies concerne la fonctionnalité. Ils vont permettre de simplifier votre navigation. En
  effet, ils permettent d’enregistrer certains de vos choix (langue, nom de l’utilisateur, pays, informations relatives
  à
  un formulaire saisi précédemment, ...).



  Certains cookies de mesure d’audience vont permettre à Kartina de mesurer les visites de certains espaces dédiés à
  ses partenaires et d’analyser ces visites, à savoir :<br>



  - Google Analytics : (Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA) afin d’analyser le trafic
  et
  les actions effectuées sur le Site ; - Facebook : (Facebook Ireland Limited 4 Grand Canal Square, Grand Canal Harbour
  Dublin 2, Ireland) afin d’analyser le trafic et les actions effectuées sur le Site ; - Google Adwords (Google Inc.,
  1600
  Amphitheatre Parkway, Mountain View, CA 94043, USA) afin d’analyser le trafic et les actions effectuées sur le Site ;
  -
  Vimeo (Vimeo, Inc. 555 West 18th Street New York, New York 10011, USA) : outil de suivi et d’analyses des vidéos
  proposées sur le site<br>

  Une dernière catégorie de cookies provient de réseaux sociaux : ces cookies, émanant de tiers, permettent à
  l’utilisateur de partager le contenu du Site avec d’autres personnes. C’est le cas par exemple des boutons applicatifs
  "Partager" ou "J'aime", provenant de réseaux sociaux comme "Facebook "Twitter", LinkedIn").



  Nous attirons votre attention sur l’identification que permet un tel bouton. En effet, le réseau social qui fournit ce
  type de boutons applicatifs est susceptible de vous identifier grâce à ce bouton, même si vous n'avez pas cliqué
  dessus
  lors de votre consultation du Site. En effet, certains cookies permettent au réseau social concerné de suivre votre
  navigation sur le Site, dès lors que votre compte à ce réseau social est activé sur votre terminal durant votre
  navigation sur le Site.

  Kartina.com n’a aucun contrôle sur le processus employé par les réseaux sociaux pour collecter des informations
  relatives à votre navigation sur le Site.

  Nous vous conseillons donc de vous déconnecter de ces réseaux sociaux avant de naviguer sur le Site ou ses
  Applications,
  si vous ne voulez pas que de publications par les réseaux sociaux de vos actions issues de ces boutons, vous devez.

  Kartina.com vous invite également à consulter les politiques de protection des données à caractère personnel de ces
  réseaux sociaux. Celles-ci doivent vous permettre d'exercer certains choix de confidentialité auprès de ces réseaux
  sociaux, notamment en paramétrant vos comptes d'utilisation de chacun de ces réseaux.



  Enfin, une dernière catégorie de cookies concerne la publicité. Ce sont les cookies de publicité ciblée.

  Ces cookies permettent de proposer à l’utilisateur un contenu publicitaire ciblé au regard de ses centres d’intérêts.
  Ces cookies sont déposés par les partenaires de Kartina.com.

  Kartina.com ne gère pas les cookies de ses partenaires et n'a aucun contrôle sur ces cookies.



  Attention : Kartina.com peut vous proposer sur le Site des publicités ou des liens renvoyant vers des sites tiers
  qui pourraient collecter vos données à caractère personnel lorsque vous cliquez sur les liens concernés. Les présentes
  Conditions ne concernent pas la visite des sites internet de tiers, Kartina.com ne peut être tenu responsable de
  leur politique en matière de données à caractère personnel ainsi que de l’utilisation de celles-ci.

  Sans préjudice de ce qui précède, Kartina.com et/ou ses partenaires peuvent être toutefois amenés à utiliser ces
  informations en coopération avec le fournisseur d'accès à Internet de l'utilisateur pour identifier l'utilisateur aux
  fins de faire exécuter tout ou partie des présentes conditions générales ou conditions contractuelles complémentaires
  ou
  sur demande des autorités administratives ou judiciaires compétentes.
</p>


<h6>Comment exercer vos droits ?</h6>
<p style="text-align: justify">
  Nous vous informons que vous pouvez à tout moment paramétrer votre navigateur afin de modifier vos choix en matière de
  cookies. Le paramétrage du navigateur internet est un moyen efficace et gratuit permettant déterminer, en amont, la
  gestion des cookies. Vous pouvez ainsi décider :<br>

  - d’accepter l’enregistrement de tous les cookies intégrés dans les pages et contenus que vous consultez. Notez que
  d’une part, ces cookies ne seront lisibles que leurs émetteurs. D’autre part, ce procédé n’est pas définitif, et il
  vous
  sera toujours possible, a posteriori, de supprimer ces cookies ; - de refuser l’enregistrement des cookies sur votre
  terminal. Dans ce cas, votre visite du Site ne sera plus comptabilisée dans les outils de mesure de la fréquentation
  mais vous ne pourrez plus bénéficier du même confort de navigation, certaines fonctionnalités nécessitant
  l’utilisation
  de cookies. Par conséquent, Kartina.com décline toute responsabilité pour les éventuels désagréments liés aux
  possibles dysfonctionnements de nos services résultant de l'impossibilité de consulter les cookies nécessaires ; -
  d’être invité par votre navigateur à donner votre accord ou votre refus avant l’installation d’un nouveau cookie sur
  votre terminal.

  Le délai de validité du consentement au dépôt des cookies est de 13 mois. A l’expiration de ce délai, le consentement
  de
  l’utilisateur est à nouveau recueilli.

  Le paramétrage en matière de gestion des cookies dépend de votre navigateur (plus d’informations, sur
  https://www.youronlinechoices.com/fr/controler-ses-cookies/ et https://www.allaboutcookies.org/fr/).



  A titre indicatif, vous vous opposez à l'enregistrement de cookies en configurant votre navigateur de la manière
  suivante :<br>



  Pour Internet Explorer:<br>

  Allez dans Outils > Options Internet.

  Cliquez sur l'onglet confidentialité.

  Cliquez sur le bouton avancé, cochez la case "Ignorer la gestion automatique des cookies".

  En savoir plus : https://windows.microsoft.com/fr-FR/windows7/Block-enable-or-allow-cookies



  Pour Firefox:<br>

  En haut de la fenêtre de Firefox, cliquez sur le bouton Firefox (menu Outils sous Windows XP), puis sélectionnez
  Options.

  Sélectionnez le panneau Vie privée.

  Paramétrez Règles de conservation : à utiliser les paramètres personnalisés pour l'historique.

  Décochez Accepter les cookies.

  En savoir plus :
  https://support.mozilla.org/fr/kb/activer-desactiver-cookies?redirectlocale=fr&redirectslug=Activer+et+d%C3%A9sactiver+les+cookies



  Pour Chrome:<br>

  Cliquez sur l'icône représentant une clé à molette qui est située dans la barre d'outils du navigateur.

  Sélectionnez Paramètres.

  Cliquez sur Afficher les paramètres avancés.

  Dans la section "Confidentialité", cliquez sur le bouton Paramètres de contenu.

  Dans la section "cookies", vous pouvez bloquer les cookies et données de sites tiers

  En savoir plus : : https://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647



  Pour Safari:<br>

  Allez dans Réglages > Préférences

  Cliquez sur l'onglet Confidentialité

  Dans la zone "Bloquer les cookies", cochez la case "toujours"

  En savoir plus : https://support.apple.com/kb/HT1677?viewlocale=fr_FR



  Pour Opéra:<br>

  Allez dans Réglages > Préférences

  Cliquez sur l'onglet avancées

  Dans la zone "cookies", cochez la case "Ne jamais accepter les cookies"

  En savoir plus : https://help.opera.com/Windows/10.20/fr/cookies.html
</p>
<h6>ARTICLE 5. RESPONSABILITE ET GARANTIES</h6>
<p style="text-align: justify">
  La société Kartina s'efforce d'assurer au mieux de ses possibilités, l'exactitude et la mise à jour des
  informations diffusées sur ce site, dont elle se réserve le droit de corriger, à tout moment et sans préavis, le
  contenu.

  Ce site peut contenir des liens vers d'autres sites. La société Kartina ne peut être tenue pour responsable des
  problèmes d'accès ou de contenu de ces sites.

  Kartina ne sera pas responsable des dommages découlant de l'utilisation ou de l'impossibilité d'utiliser le Site.

  Kartina ne sera en aucun cas responsable de dysfonctionnements imputables à des logiciels, que ceux-ci soient ou
  non incorporés dans le Site ou fournis avec celui-ci.

  Kartina s'engage à respecter toutes les garanties légales dont vous pourriez vous prévaloir. En cas de défauts de
  la marchandise, vous bénéficiez des garanties légales prévues par la législation en vigueur. Les oeuvres présentées
  sur
  notre site étant conformes aux prescriptions de la loi française, nous ne pourrons être tenus responsables de la
  violation de la législation propre au pays de livraison de l'œuvre. Par conséquent, nous vous invitons à prendre
  connaissance de la loi en vigueur dans le pays de livraison.



  Vous bénéficiez des garanties énumérées au présent article 5 uniquement dans la mesure où les produits ont été achetés
  directement sur le Site Web.

  Vous bénéficiez des garanties légales suivantes :<br>

  1. la garantie légale de conformité (articles L. 217-4 et suivants du Code de la consommation),

  Si vos produits sont non conformes (par exemple s'ils ne correspondent pas à la description donnée sur le site ou à
  votre commande), vous bénéficiez d'un délai de deux ans à compter de la délivrance du bien pour contacter notre
  Service
  Clientèle par courriel à l'adresse suivante contact@Kartina.com, ou par courrier postal à l'adresse suivante :
  Kartina, 84 rue Beaubourg, 75003 Paris, et nous retourner les produits non conformes. Nous vous renverrons alors
  des produits de remplacement, lorsque ceux-ci sont disponibles. Si nous ne sommes pas en mesure de remplacer les
  produits non conformes dans un délai de trente (30) jours, vous pouvez :<br>

  - demander un remboursement intégral des produits non conformes ou<br>

  - conserver les produits non conformes et nous demander une réduction d'une partie du prix, qui sera déterminé au cas
  par cas.<br>

  Vous êtes dispensés de rapporter la preuve de l'existence du défaut de conformité du produit durant les 24 mois
  suivant
  la délivrance du bien.

  Cette garantie légale de conformité s'applique indépendamment de toute garantie commerciale éventuellement
  souscrite.<br>

  2. la garantie légale contre les vices cachés (articles 1641 et suivants du Code civil). Si vous parvenez à prouver le
  vice caché d'un produit, nous sommes légalement tenus de réparer toutes les conséquences d'un tel vice caché (articles
  1641 et suivants du Code civil). Vous pourrez alors choisir entre la résolution de la vente ou une réduction du prix
  (conformément à l'article 1644 du code civil).
</p>
<h6>ARTICLE 6. PROPRIETE INTELLECTUELLE</h6>
<h6>1) Droits sur l'œuvre</h6>
<p style="text-align: justify">
  L'artiste, pour avoir pris l'initiative de sa création, reste titulaire des droits d'auteur sur sa création, au sens
  de
  la loi française. Les droits de représentation et de reproduction des œuvres présentes sur le site Kartina.com
  appartiennent à leurs auteurs et à Kartina. Leur autorisation conjointe est nécessaire pour toute exploitation de
  ces droits. Vos droits sur l'oeuvre achetée sont donc limités à un droit d'usage privé, excluant tout droit de
  représentation et de reproduction.
</p>
<h6>2) Droit de propriété intellectuelle</h6>

<p style="text-align: justify">
  Tous les éléments présents sur le site et le site en lui-même sont protégés par le droit d'auteur, droit des marques,
  des dessins et modèles et/ou tout autre droit de la propriété intellectuelle. Par éléments, nous entendons de façon
  non
  exhaustive : les photographies, images, dessins, illustrations, textes, vidéos, logos, économiseurs d'écran, fonds
  d'écran, marques, modèles, logiciels…Ces éléments appartiennent à la société Kartina ou bien sont utilisés avec
  l'accord de leurs propriétaires.
  A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction,
  commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier,
  numérique…)
  sont interdites, sans l'autorisation écrite préalable de Kartina, hormis les exceptions visées à l'article L 122.5
  du Code de Propriété Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d'auteur et/ou de
  dessins
  et modèles et/ou de marque, puni de deux ans d'emprisonnement et de 152 449,02€ d'amende.
</p>
<h6>ARTICLE 7. DROIT APPLICABLE</h6>
<p style="text-align: justify">
  Les présentes conditions sont régies par la loi française. Elles sont disponibles dans la langue de consultation du
  Site, cf art. II. Dans l'hypothèse où un litige naîtrait de la présente relation contractuelle, l'Utilisateur et
  Yellow
  Korner s'engagent avant toute action judiciaire à rechercher une solution amiable. En cas de litige, seuls les
  tribunaux
  français seront compétents.


  Conformément aux dispositions du Code de la consommation concernant le règlement amiable des litiges, Kartina
  adhère au Service du Médiateur du e-commerce de la Fevad (Fédération du e-commerce et de la vente à distance) dont les
  coordonnées sont les suivantes : 60 Rue La Boétie – 75008 Paris – www.mediateurfevad.fr. Après démarche préalable
  écrite
  des consommateurs vis-à-vis de Kartina, le Service du Médiateur peut être saisi pour tout litige de consommation
  dont le règlement n’aurait pas abouti. Pour connaître les modalités de saisine du Médiateur, cliquer
  www.mediateurfevad.fr/index.php/espace-consommateur.
</p>
