<div class="footer" [ngStyle]="{'background-color': '#313C3B'}">
  <nav class="navbar navbar-expand-lg navbar-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/mentionslegales']">
            <span style="color:lavender">
              <b>Mentions Légales</b>
            </span> 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/conditionsgeneralesdutilisation']"><span
              style="color: lavender"><b>Conditions Générales d'Utilisation</b></span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="https://twitter.com"><img src="{{ pathLogoTweet }}" width="30" height="30"></a>
        </li>
        <li>
          <a href="https://fr-fr.facebook.com/"><img src="{{ pathLogoFacebook }}" width="25" height="25"></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
