  <!-- <div style="padding-inline: 25%">
    <app-section-quatro *ngIf="randomNewSell" [vente]="randomNewSell" [titre]="titre1" [lien]="lien1"
      [descLien]="descLien1">
    </app-section-quatro>
  </div>
  <div style="clear: both">
  </div> -->

  <div class="m-3 card .text-secondary rounded-0">
    <img class="card-img rounded-0" src="http://localhost:8080/upload/panoramique.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title">{{titre1}}</h5>
      <p class="card-text" [routerLink]="lien1" style="cursor: pointer;">{{descLien1}}</p>
    </div>
  </div>

  <div class="my-5 px-2">
    <h1 class="text-center"><span style="color: rgb(61, 58, 57)">Photographies d'art</span></h1>

    <div *ngIf="pageable">
      <div *ngFor="let vente of pageable.content">
        <div class="square" style="cursor: pointer" [routerLink]="['/parcours', vente.venteId]"
          [ngStyle]="{'background-image':'url('+vente.photographie.urlImage+')'}">
          <div class="description">
            <blockquote class="blockquote text-center">
              <h6 class="card-title" style="cursor: pointer"
                [routerLink]="['/artiste', vente.utilisateur.utilisateurId]">
                {{ vente.utilisateur.nom }} {{ vente.utilisateur.prenom }}
              </h6>
              <p class="card-text">{{ vente.photographie.titre }}</p>
              <p class="card-text">A partir de {{ vente.photographie.prixPhoto }}€</p>
            </blockquote>
          </div>
        </div>
      </div>
      <div style="clear: both">
      </div>
    </div>
    <button class="btn btn-lg btn-block btn-outline-dark mt-3" [routerLink]="['/catalogue']">Explorer la
      collection</button>
  </div>

  <div class="my-5 px-2">
    <div>
    <!-- <div style="padding-inline: 10%"> -->
      <!-- <div class="row"> -->
      <div class="col p-0 m-0">
        <app-section-quatro *ngIf="randomTravelSell" [vente]="randomTravelSell" [titre]="titre2" [lien]="lien2"
          [descLien]="descLien2">
        </app-section-quatro>
      </div>
      <div class="col p-0 m-0">
        <app-section-quatro *ngIf="randomBWSell" [vente]="randomBWSell" [titre]="titre3" [lien]="lien3"
          [descLien]="descLien3">
        </app-section-quatro>
      </div>
    </div>

    <!-- <div style="padding-inline: 10%"> -->
    <div>
      <!-- <div class="row"> -->
      <div class="col p-0 m-0">
        <app-section-quatro *ngIf="randomUserSell" [vente]="randomUserSell" [titre]="titre4" [lien]="lien4"
          [descLien]="descLien4">
        </app-section-quatro>
      </div>
      <div class="col p-0 m-0">
        <app-section-quatro *ngIf="randomLastCopies" [vente]="randomLastCopies" [titre]="titre5" [lien]="lien5"
          [descLien]="descLien5">
        </app-section-quatro>
      </div>
    </div>
    <div style="clear: both">
    </div>
  </div>
