.square {
  opacity: 1;
  float: left;
  position: relative;
  width: 31%;
  padding-bottom: 20%; /* = width for a 1:1 aspect ratio */
  margin: 1%;
  // min-width: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.description {
  background-color: black;
  color: lightgray;
  width: 100%;
  // height: 30%;
  line-height: 15%;
  opacity: 0.3;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: .5s ease;
}

.square:hover  .description{
  opacity: 0.8;
}

.description blockquote{
  padding: 3%;
  font-size: small;
}

.description h6:hover{
  text-decoration: underline;
}
